<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template-efos.html}">
<head>

<title>PENGAJUAN PEMBIAYAAN ONLINE</title>

</head>

<body>

	<section layout:fragment="custom-content">

		<nav style="-bs-breadcrumb-divider: '&gt;';" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page"><a
					th:href="@{/formPengajuan}">Pengajuan Pembiayaan</a></li>
				<li class="breadcrumb-item active" aria-current="page">Form Pengajuan</li>
			</ol>
		</nav>

		<div class="alert alert-warning alert-dismissible fade show"
			th:if="${success}">
			<strong>Info!</strong>
			<th:block th:text="${success}"></th:block>
			<button type="button" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
		</div>

		<div class="alert alert-danger alert-dismissible fade show"
			th:if="${error}">
			<strong>Info!</strong>
			<th:block th:text="${error}"></th:block>
			<button type="button" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
		</div>

		<div class="container"
			style="padding: 10px; background-color: #FFFFFa;" id="datapermohonan">
			<form action="#" th:action="@{/savePendaftaran}" method="POST"
				th:object="${pendaftaran}" enctype="utf8"
				class="row g-3 needs-validation" novalidate>
				<div class="col-md-12" style="margin-bottom: 0px">
					<h5>
						<span class="badge bg-primary">Data Pemohon</span>
					</h5>
				</div>

				<div class="col-md-6">

					<label for="pwd" class="form-label">ID KTP</label> <input
						type="text" class="form-control form-control-sm" id="ktp"
						th:attr="name='ktp'" maxlength="16" th:value="${ktp}" required>
				</div>

				<div class="col-md-6">
					<label for="pwd">Nama</label> <input type="text"
						class="form-control form-control-sm" id="nama"
						th:attr="name='nama'" th:value="${nama}" required>
				</div>

				<div class="col-md-6">
					<label for="pwd">NPWP</label> <input type="text"
						class="form-control form-control-sm" id="npwp"
						th:attr="name='npwp'" th:value="${npwp}" required>
				</div>

				<div class="col-md-6">
					<label for="pwd">Status Pernikahan</label> <select
						th:attr="name='status_pernikahan'" id="status_nikah"
						class="form-select form-select-sm"
						aria-label="Default select example" required>
						<option
							th:if="${status_pernikahan != null && status_pernikahan=='B'}"
							value="B" selected>Belum Menikah</option>
						<option
							th:if="${status_pernikahan != null && status_pernikahan=='M'}"
							value="M" selected>Menikah</option>
						<option
							th:if="${status_pernikahan != null && status_pernikahan=='D'}"
							value="D" selected>Janda/Duda</option>
						<option th:if="${status_pernikahan  == null}" selected>Pilih
							Status Pernikahan</option>
						<option value="B">Belum Menikah</option>
						<option value="M">Menikah</option>
						<option value="D">Janda/Duda</option>
					</select>
				</div>


				<div class="col-md-6">
					<label for="pwd">Tempat Lahir</label> <input type="text"
						class="form-control form-control-sm" id="tmp_lahir"
						name="tmp_lahir" th:attr="name='tmp_lahir'"
						th:value="${tmp_lahir}" required>
				</div>

				<div class="col-md-6">
					<label for="pwd">Tanggal Lahir</label>
					<div class="form-group">
						<div class='input-group date' id='datepicker'>
							<input type='text' name="tgl_lahir" id="tgl_lahir"
								th:attr="name='tgl_lahir'" th:value="${tgl_lahir}"
								class="form-control form-control-sm " autocomplete="off" /> <span
								class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"></span>
							</span>

						</div>
					</div>
				</div>
				<div class="col-md-6">
					<label for="pwd">Jenis Kelamin</label> <select
						class="form-select form-select-sm" id="kelamin"
						th:attr="name='kelamin'" aria-label="Default select example"
						required>
						<option th:if="${kelamin != null && kelamin=='0'}" value="0"
							selected>Pria</option>
						<option th:if="${kelamin != null && kelamin=='1'}" value="1"
							selected>Wanita</option>
						<option th:if="${kelamin == null}" selected>Pilih Jenis
							Kelamin</option>
						<option value="0">Pria</option>
						<option value="1">Wanita</option>
					</select>
				</div>

				<div class="col-md-6">
					<label for="email">Alamat</label> <input name="alamat" type="text"
						th:attr="name='alamat'" th:value="${alamat}"
						class="form-control form-control-sm" id="alamat" required>
				</div>


				<div class="col-md-6">
					<label for="telepon">Nomor Telepon</label> <input type="text"
						class="form-control form-control-sm" id="no_telp" name="no_telp"
						th:attr="name='no_telp'" th:value="${no_telp}" required>
				</div>

				<div class="col-md-6">
					<label for="email">Email address</label> <input type="email"
						class="form-control form-control-sm" th:attr="name='email'"
						th:value="${email}" name="email" id="email" required>
				</div>
				<div class="col-md-12" style="margin-bottom: 0px; margin-top: 15px">
					<h5>
						<span class="badge bg-primary">Data Pengajuan</span>
					</h5>
				</div>

				<div class="col-md-6">

					<label for="cabang">Cabang Pengajuan Kredit</label> <select
						class="select2" th:attr="name='cab'" id="cab" style="width: 100%;">
						<option th:if="${kodeCabang != null && namaCabang !=null}"
							th:value="${kodeCabang}" selected><th:block
								th:text="${kodeCabang} +  ' ' + '-' + ' ' +  ${namaCabang}"></option>
						<option value="">Pilihan Cabang</option>
						<option th:each="data: ${listcabang}"
							th:value="${data.id} + '-' + ${data.cabang}"
							th:text="${data.id}+' - '+${data.cabang}"></option>
					</select>
				</div>


				<div class="col-md-6">
					<label for="email">Tujuan Pembiayaan</label> <input type="tujuan"
						class="form-control form-control-sm" id="tujuan_pembiayaan"
						name="tujuan_pembiayaan" th:attr="name='tujuan_pembiayaan'"
						th:value="${tujuan_pembiayaan}" required>
				</div>

				<div class="col-md-6">
					<label for="email">Jumlah Pembiayaan</label> <input type="number"
						class="form-control form-control-sm" id="plafon_pengajuan"
						name="plafon_pengajuan" th:attr="name='plafon_pengajuan'"
						th:value="${plafon_pengajuan}" required>
				</div>

				<div class="col-md-6">
					<label for="email">Jangka Waktu Pembiayaan</label> <input
						type="number" class="form-control form-control-sm"
						id="tenor_pengajuan" name="tenor_pengajuan"
						th:attr="name='tenor_pengajuan'" th:value="${tenor_pengajuan}"
						required>
				</div>

				<div class="g-recaptcha"
					data-sitekey="6Le218UeAAAAACJdjnk--SMwoFif30T4EnWtdZiO"></div>
				<br />
				<div class="col-6" style="margin-top: 10px">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-check"> Proses </i>
					</button>
					<a th:href="@{/}" class="btn btn-danger" role="button"> <i
						class="fa fa-home"> Kembali </i></a>
				</div>

			</form>
		</div>
		<br />
	</section>


</body>

</html>
